$darker-gray:   #333;
$dark-gray:     #444;
$gray:          #eff3f4;
$lightest-gray: #edf2f5;
$light-blue:    #0366d6;
$red:           #bd0000;
$dark-blue:     #0f1316;
$darker-blue:   #070a0b;
$green:         #29b09c;
$light-green: 	#4dd8c3;
$lighter-green: #d5f9f3;

$background-color:       $darker-blue;
$highlight-color:        $green;
$highlight-color-hover:  $light-green;
