@import 'colors';
@import 'base';


::selection{
	color: #fff;
	text-shadow: none;
	background-color: #262829;
}

*{ box-sizing: border-box; }

html{ font-size: 62.5%; }

body{
	height: 100vh;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: $font-size;
	line-height: 1.6;
	color: $dark-gray;
}

main{ background-color: $background-color; }

h3 a, h4 a, .link{ text-decoration: none; }

h3 a:hover, h4 a:hover, .link:hover{ text-decoration: underline; }

h3, h4{ font-weight: 600; }

a{ color: inherit; }

a.disabled{
	color: #444;
	cursor: default;
	pointer-events: none;
}

a.disabled:hover{ text-decoration: none; }

table{
	width: 100%;
	border-collapse: collapse;
}

pre, code{
	background-color: #f8f8f8;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	font-size: inherit;
	font-family: monospace;
	color: $darker-gray;
}

pre{
	display: block;
	padding: 8px;
	overflow-x: overlay;
}

code{
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	padding: 2px 4px;
}

pre > code{
	margin-left: 0;
	margin-right: 0;
	border: none;
}

pre .comment, pre .quote{
	color: #998;
	font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .subst{
	color: $darker-gray;
	font-weight: 700;
}

pre .number,
pre .literal,
pre .variable,
pre .template-variable,
pre .tag pre .attr{ color: #008080; }

pre .string, pre .doctag{ color: #d14; }

pre .title,
pre .section,
pre .selector-id{
	color: #900;
	font-weight: 700;
}

pre .subst{ font-weight: 400; }

pre .type, pre .class pre .title{
	color: #458;
	font-weight: 700;
}

pre .tag,
pre .name,
pre .attribute{
	color: #000080;
	font-weight: 400;
}

pre .regexp, pre .link{ color: #009926; }

pre .symbol, pre .bullet{ color: #990073; }

pre .built_in, pre .builtin-name{ color: #0086b3; }

pre .meta{
	color: #999;
	font-weight: 700;
}

pre .addition{ background: #dfd; }

pre .deletion{ background: #fdd; }

pre .emphasis{ font-style: italic; }

pre .strong{ font-weight: 700; }

.container{
	max-width: 880px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.container h2{
	margin-top: 0;
	font-family: 'Muli', sans-serif;
	font-size: 3rem;
	font-weight: 300;
	color: #91b2b3;
}

.link{
	color: $highlight-color;
	transition: color .2s;
}

.link:hover{ color: $highlight-color-hover; }

.button{
	padding: 10px 20px;
	min-width: 200px;
	background-color: $highlight-color;
	color: #eee;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	transition: color .2s, background-color .3s;
}

.button:hover{
	color: #fff;
	background-color: $highlight-color-hover;
}

.icon{
	height: 18px;
	fill: #444;
	vertical-align: middle;
}

@media screen and (max-width: 1000px){
    /*TODO: small and medium screen*/
}

@keyframes flip{
	0%{
		opacity: 0;
		transform: scale(.2) rotateX(180deg);
	}
	50%{
		opacity: .6;
		transform: scale(1.5) rotateX(90deg);
	}
	100%{
		opacity: 1;
		transform: scale(1) rotateX(0);
	}
}

@keyframes translate{
	60%{ transform: translateY(4px); }
	80%{ transform: translateY(-2px); }
	100%{ transform: translateY(0); }
}

@keyframes disappear{
	from{
		opacity: 1;
		transform: translateY(0);
	}
	to{
		opacity: 0;
		transform: translateY(10%);
	}
}

@keyframes heartbeat{
	0%{ transform: scale(1); }
	50%{ transform: scale(1); }
	62.5%{ transform: scale(1.25); }
	75%{ transform: scale(1); }
	87.5%{ transform: scale(1.25); }
	100%{ transform: scale(1); }
}
